/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
#203729
#5C6C61
#FFFFFF
#DAD1B7
#A5B16C
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
	font-family: Ubuntu;
	color: #515151;
	width: 980px;
	margin: auto;
}

#header {
	padding-top: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid;
	margin: 20px;
}

#header h1 {
	font-size: 50px;
	color: #203729;
}

#nav {
	float: right;
	width:100px;
}

#nav a {
	font-size: 16px;
	color: #203729;
	text-transform: uppercase;
	line-height: 23px;
	text-decoration: none;
}

#nav a:hover {
	color: #A5B16C;
}

#nav ul {
	list-style: none;
}

#content {
	float: left;
	margin: 20px;
	width: 800px;
}

#content ul {
    margin-left: 50px;
}

#content h1 {
	font-size: 30px;
	color: #203729;
    padding: 10px;
    padding-left: 0px;
    margin-top: -30px;
}

#content h2 {
	font-size: 20px;
	color: #203729;
    padding: 10px;
    margin-bottom: -10px;
}

#content p {
    line-height: 20px;
    margin: 10px;
}

#content div {
    line-height: 20px;
    margin: 10px;
    padding: 10px;
}


#content .post_date {
    font-size: 14px;
	color: #5C6C61;
    margin-top: -10px;
    margin-left: 0px;
}

#content .post_date span {
    margin-left: 15px;
    margin-right: 15px;
}

#content a {
    text-decoration: none;
    color: #E91B1B;
}

#content a:hover {
    text-decoration: underline;
}

#arquivo ul li {
    list-style: none;
    margin: 15px;
}

#footer {
	clear: both;
	height: 30px;
	margin: 20px;
	padding: 20px;
	border-top: 1px solid;
	font-size: 12px;
	text-align: right;
}

.code {
    font-family: 'Ubuntu Mono';
}
