body {
    margin: 0px;
    background: #f8f8f8;
    font-family: 'Droid Sans Mono';
    font-size: 12px;
}

#sidebar h1 {
    font-size: 20px;
    text-align: center;
    text-shadow: 3px 3px 3px #f8f8f8;
}

#main_block {
    padding: 15px;
    background: #ffffff;
}
