body {
    margin: 0px;
    background: #f8f8f8;
    font-family: 'Droid Sans Mono';
    font-size: 12px;
}

#sidebar h1 {
    font-size: 20px;
    text-align: center;
    text-shadow: 3px 3px 3px #f8f8f8;
}

#main_block {
    padding: 15px;
    background: #ffffff;
}

#sidebar_menu {
    border-bottom:1px solid #888;
}

#sidebar_menu a {
    display:block;
    color:#333;
    line-height:36px;
    padding:0 20px;
    font-size:14px;
    font-weight:bold;
    text-align:right;
    text-shadow:0 1px 0 #fff;
    border-top:1px solid #fff;
    text-decoration: none;
}

#sidebar_menu ul {
    list-style:none;
    margin: 0;
    padding: 0;
}

#sidebar_menu li {
    line-height: 37px;
    margin: 0;
    padding: 0;
    background: none;
    border-top: 1px solid #888;
}

#sidebar_menu li:hover > a {
    background:#f4f4f4;
    color:#0047a7;
}

#sidebar_menu ul li:hover > ul{
    display:block;
}

img {
    padding: 0px 15px 0px 0px;
    float: left;
}
